
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.rohit-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.rohit-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.rohit-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.rohit-table,.rohit-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.rohit-table-all{border:1px solid #ccc}
.rohit-bordered tr,.rohit-table-all tr{border-bottom:1px solid #ddd}.rohit-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.rohit-table-all tr:nth-child(odd){background-color:#fff}.rohit-table-all tr:nth-child(even){background-color:#f1f1f1}
.rohit-hoverable tbody tr:hover,.rohit-ul.rohit-hoverable li:hover{background-color:#ccc}.rohit-centered tr th,.rohit-centered tr td{text-align:center}
.rohit-table td,.rohit-table th,.rohit-table-all td,.rohit-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.rohit-table th:first-child,.rohit-table td:first-child,.rohit-table-all th:first-child,.rohit-table-all td:first-child{padding-left:16px}
.rohit-btn,.rohit-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.rohit-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.rohit-btn,.rohit-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.rohit-disabled,.rohit-btn:disabled,.rohit-button:disabled{cursor:not-allowed;opacity:0.3}.rohit-disabled *,:disabled *{pointer-events:none}
.rohit-btn.rohit-disabled:hover,.rohit-btn:disabled:hover{box-shadow:none}
.rohit-badge,.rohit-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.rohit-badge{border-radius:50%}
.rohit-ul{list-style-type:none;padding:0;margin:0}.rohit-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.rohit-ul li:last-child{border-bottom:none}
.rohit-tooltip,.rohit-display-container{position:relative}.rohit-tooltip .rohit-text{display:none}.rohit-tooltip:hover .rohit-text{display:inline-block}
.rohit-ripple:active{opacity:0.5}.rohit-ripple{transition:opacity 0s}
.rohit-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.rohit-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.rohit-dropdown-click,.rohit-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.rohit-dropdown-hover:hover .rohit-dropdown-content{display:block}
.rohit-dropdown-hover:first-child,.rohit-dropdown-click:hover{background-color:#ccc;color:#000}
.rohit-dropdown-hover:hover > .rohit-button:first-child,.rohit-dropdown-click:hover > .rohit-button:first-child{background-color:#ccc;color:#000}
.rohit-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.rohit-check,.rohit-radio{width:24px;height:24px;position:relative;top:6px}
.rohit-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.rohit-bar-block .rohit-dropdown-hover,.rohit-bar-block .rohit-dropdown-click{width:100%}
.rohit-bar-block .rohit-dropdown-hover .rohit-dropdown-content,.rohit-bar-block .rohit-dropdown-click .rohit-dropdown-content{min-width:100%}
.rohit-bar-block .rohit-dropdown-hover .rohit-button,.rohit-bar-block .rohit-dropdown-click .rohit-button{width:100%;text-align:left;padding:8px 16px}
.rohit-main,#main{transition:margin-left .4s}
.rohit-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.rohit-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.rohit-bar{width:100%;overflow:hidden}.rohit-center .rohit-bar{display:inline-block;width:auto}
.rohit-bar .rohit-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.rohit-bar .rohit-dropdown-hover,.rohit-bar .rohit-dropdown-click{position:static;float:left}
.rohit-bar .rohit-button{white-space:normal}
.rohit-bar-block .rohit-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.rohit-bar-block.rohit-center .rohit-bar-item{text-align:center}.rohit-block{display:block;width:100%}
.rohit-responsive{display:block;overflow-x:auto}
.rohit-container:after,.rohit-container:before,.rohit-panel:after,.rohit-panel:before,.rohit-row:after,.rohit-row:before,.rohit-row-padding:after,.rohit-row-padding:before,
.rohit-cell-row:before,.rohit-cell-row:after,.rohit-clear:after,.rohit-clear:before,.rohit-bar:before,.rohit-bar:after{content:"";display:table;clear:both}
.rohit-col,.rohit-half,.rohit-third,.rohit-twothird,.rohit-threequarter,.rohit-quarter{float:left;width:100%}
.rohit-col.s1{width:8.33333%}.rohit-col.s2{width:16.66666%}.rohit-col.s3{width:24.99999%}.rohit-col.s4{width:33.33333%}
.rohit-col.s5{width:41.66666%}.rohit-col.s6{width:49.99999%}.rohit-col.s7{width:58.33333%}.rohit-col.s8{width:66.66666%}
.rohit-col.s9{width:74.99999%}.rohit-col.s10{width:83.33333%}.rohit-col.s11{width:91.66666%}.rohit-col.s12{width:99.99999%}
@media (min-width:601px){.rohit-col.m1{width:8.33333%}.rohit-col.m2{width:16.66666%}.rohit-col.m3,.rohit-quarter{width:24.99999%}.rohit-col.m4,.rohit-third{width:33.33333%}
.rohit-col.m5{width:41.66666%}.rohit-col.m6,.rohit-half{width:49.99999%}.rohit-col.m7{width:58.33333%}.rohit-col.m8,.rohit-twothird{width:66.66666%}
.rohit-col.m9,.rohit-threequarter{width:74.99999%}.rohit-col.m10{width:83.33333%}.rohit-col.m11{width:91.66666%}.rohit-col.m12{width:99.99999%}}
@media (min-width:993px){.rohit-col.l1{width:8.33333%}.rohit-col.l2{width:16.66666%}.rohit-col.l3{width:24.99999%}.rohit-col.l4{width:33.33333%}
.rohit-col.l5{width:41.66666%}.rohit-col.l6{width:49.99999%}.rohit-col.l7{width:58.33333%}.rohit-col.l8{width:66.66666%}
.rohit-col.l9{width:74.99999%}.rohit-col.l10{width:83.33333%}.rohit-col.l11{width:91.66666%}.rohit-col.l12{width:99.99999%}}
.rohit-content{max-width:980px;margin:auto}.rohit-rest{overflow:hidden}
.rohit-cell-row{display:table;width:100%}.rohit-cell{display:table-cell}
.rohit-cell-top{vertical-align:top}.rohit-cell-middle{vertical-align:middle}.rohit-cell-bottom{vertical-align:bottom}
.rohit-hide{display:none!important}.rohit-show-block,.rohit-show{display:block!important}.rohit-show-inline-block{display:inline-block!important}
@media (max-width:600px){.rohit-modal-content{margin:0 10px;width:auto!important}.rohit-modal{padding-top:30px}
.rohit-dropdown-hover.rohit-mobile .rohit-dropdown-content,.rohit-dropdown-click.rohit-mobile .rohit-dropdown-content{position:relative}	
.rohit-hide-small{display:none!important}.rohit-mobile{display:block;width:100%!important}.rohit-bar-item.rohit-mobile,.rohit-dropdown-hover.rohit-mobile,.rohit-dropdown-click.rohit-mobile{text-align:center}
.rohit-dropdown-hover.rohit-mobile,.rohit-dropdown-hover.rohit-mobile .rohit-btn,.rohit-dropdown-hover.rohit-mobile .rohit-button,.rohit-dropdown-click.rohit-mobile,.rohit-dropdown-click.rohit-mobile .rohit-btn,.rohit-dropdown-click.rohit-mobile .rohit-button{width:100%}}
@media (max-width:768px){.rohit-modal-content{width:500px}.rohit-modal{padding-top:50px}}
@media (min-width:993px){.rohit-modal-content{width:900px}.rohit-hide-large{display:none!important}.rohit-sidebar.rohit-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.rohit-hide-medium{display:none!important}}
@media (max-width:992px){.rohit-sidebar.rohit-collapse{display:none}.rohit-main{margin-left:0!important;margin-right:0!important}}
.rohit-top,.rohit-bottom{position:fixed;width:100%;z-index:1}.rohit-top{top:0}.rohit-bottom{bottom:0}
.rohit-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.rohit-display-topleft{position:absolute;left:0;top:0}.rohit-display-topright{position:absolute;right:0;top:0}
.rohit-display-bottomleft{position:absolute;left:0;bottom:0}.rohit-display-bottomright{position:absolute;right:0;bottom:0}
.rohit-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.rohit-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.rohit-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.rohit-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.rohit-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.rohit-display-container:hover .rohit-display-hover{display:block}.rohit-display-container:hover span.rohit-display-hover{display:inline-block}.rohit-display-hover{display:none}
.rohit-display-position{position:absolute}
.rohit-circle{border-radius:50%}
.rohit-round-small{border-radius:2px}.rohit-round,.rohit-round-medium{border-radius:4px}.rohit-round-large{border-radius:8px}.rohit-round-xlarge{border-radius:16px}.rohit-round-xxlarge{border-radius:32px}
.rohit-row-padding,.rohit-row-padding>.rohit-half,.rohit-row-padding>.rohit-third,.rohit-row-padding>.rohit-twothird,.rohit-row-padding>.rohit-threequarter,.rohit-row-padding>.rohit-quarter,.rohit-row-padding>.rohit-col{padding:0 8px}
.rohit-container,.rohit-panel{padding:0.01em 16px}.rohit-panel{margin-top:16px;margin-bottom:16px}
.rohit-code,.rohit-codespan{font-family:Consolas,"courier new";font-size:16px}
.rohit-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.rohit-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.rohit-card,.rohit-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.rohit-card-4,.rohit-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.rohit-spin{animation:rohit-spin 2s infinite linear}@keyframes rohit-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.rohit-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.rohit-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.rohit-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.rohit-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.rohit-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.rohit-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.rohit-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.rohit-animate-input{transition:width 0.4s ease-in-out}.rohit-animate-input:focus{width:100%!important}
.rohit-opacity,.rohit-hover-opacity:hover{opacity:0.60}.rohit-opacity-off,.rohit-hover-opacity-off:hover{opacity:1}
.rohit-opacity-max{opacity:0.25}.rohit-opacity-min{opacity:0.75}
.rohit-greyscale-max,.rohit-grayscale-max,.rohit-hover-greyscale:hover,.rohit-hover-grayscale:hover{filter:grayscale(100%)}
.rohit-greyscale,.rohit-grayscale{filter:grayscale(75%)}.rohit-greyscale-min,.rohit-grayscale-min{filter:grayscale(50%)}
.rohit-sepia{filter:sepia(75%)}.rohit-sepia-max,.rohit-hover-sepia:hover{filter:sepia(100%)}.rohit-sepia-min{filter:sepia(50%)}
.rohit-tiny{font-size:10px!important}.rohit-small{font-size:12px!important}.rohit-medium{font-size:15px!important}.rohit-large{font-size:18px!important}
.rohit-xlarge{font-size:24px!important}.rohit-xxlarge{font-size:36px!important}.rohit-xxxlarge{font-size:48px!important}.rohit-jumbo{font-size:64px!important}
.rohit-left-align{text-align:left!important}.rohit-right-align{text-align:right!important}.rohit-justify{text-align:justify!important}.rohit-center{text-align:center!important}
.rohit-border-0{border:0!important}.rohit-border{border:1px solid #ccc!important}
.rohit-border-top{border-top:1px solid #ccc!important}.rohit-border-bottom{border-bottom:1px solid #ccc!important}
.rohit-border-left{border-left:1px solid #ccc!important}.rohit-border-right{border-right:1px solid #ccc!important}
.rohit-topbar{border-top:6px solid #ccc!important}.rohit-bottombar{border-bottom:6px solid #ccc!important}
.rohit-leftbar{border-left:6px solid #ccc!important}.rohit-rightbar{border-right:6px solid #ccc!important}
.rohit-section,.rohit-code{margin-top:16px!important;margin-bottom:16px!important}
.rohit-margin{margin:16px!important}.rohit-margin-top{margin-top:16px!important}.rohit-margin-bottom{margin-bottom:16px!important}
.rohit-margin-left{margin-left:16px!important}.rohit-margin-right{margin-right:16px!important}
.rohit-padding-small{padding:4px 8px!important}.rohit-padding{padding:8px 16px!important}.rohit-padding-large{padding:12px 24px!important}
.rohit-padding-16{padding-top:16px!important;padding-bottom:16px!important}.rohit-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.rohit-padding-32{padding-top:32px!important;padding-bottom:32px!important}.rohit-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.rohit-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.rohit-left{float:left!important}.rohit-right{float:right!important}
.rohit-button:hover{color:#000!important;background-color:#ccc!important}
.rohit-transparent,.rohit-hover-none:hover{background-color:transparent!important}
.rohit-hover-none:hover{box-shadow:none!important}
/* Colors */
.rohit-amber,.rohit-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.rohit-aqua,.rohit-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.rohit-blue,.rohit-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.rohit-light-blue,.rohit-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.rohit-brown,.rohit-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.rohit-cyan,.rohit-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.rohit-blue-grey,.rohit-hover-blue-grey:hover,.rohit-blue-gray,.rohit-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.rohit-green,.rohit-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.rohit-light-green,.rohit-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.rohit-indigo,.rohit-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.rohit-khaki,.rohit-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.rohit-lime,.rohit-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.rohit-orange,.rohit-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.rohit-deep-orange,.rohit-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.rohit-pink,.rohit-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.rohit-purple,.rohit-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.rohit-deep-purple,.rohit-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.rohit-red,.rohit-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.rohit-sand,.rohit-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.rohit-teal,.rohit-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.rohit-yellow,.rohit-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.rohit-white,.rohit-hover-white:hover{color:#000!important;background-color:#fff!important}
.rohit-black,.rohit-hover-black:hover{color:#fff!important;background-color:#000!important}
.rohit-grey,.rohit-hover-grey:hover,.rohit-gray,.rohit-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.rohit-light-grey,.rohit-hover-light-grey:hover,.rohit-light-gray,.rohit-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.rohit-dark-grey,.rohit-hover-dark-grey:hover,.rohit-dark-gray,.rohit-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.rohit-pale-red,.rohit-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.rohit-pale-green,.rohit-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.rohit-pale-yellow,.rohit-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.rohit-pale-blue,.rohit-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.rohit-text-amber,.rohit-hover-text-amber:hover{color:#ffc107!important}
.rohit-text-aqua,.rohit-hover-text-aqua:hover{color:#00ffff!important}
.rohit-text-blue,.rohit-hover-text-blue:hover{color:#2196F3!important}
.rohit-text-light-blue,.rohit-hover-text-light-blue:hover{color:#87CEEB!important}
.rohit-text-brown,.rohit-hover-text-brown:hover{color:#795548!important}
.rohit-text-cyan,.rohit-hover-text-cyan:hover{color:#00bcd4!important}
.rohit-text-blue-grey,.rohit-hover-text-blue-grey:hover,.rohit-text-blue-gray,.rohit-hover-text-blue-gray:hover{color:#607d8b!important}
.rohit-text-green,.rohit-hover-text-green:hover{color:#4CAF50!important}
.rohit-text-light-green,.rohit-hover-text-light-green:hover{color:#8bc34a!important}
.rohit-text-indigo,.rohit-hover-text-indigo:hover{color:#3f51b5!important}
.rohit-text-khaki,.rohit-hover-text-khaki:hover{color:#b4aa50!important}
.rohit-text-lime,.rohit-hover-text-lime:hover{color:#cddc39!important}
.rohit-text-orange,.rohit-hover-text-orange:hover{color:#ff9800!important}
.rohit-text-deep-orange,.rohit-hover-text-deep-orange:hover{color:#ff5722!important}
.rohit-text-pink,.rohit-hover-text-pink:hover{color:#e91e63!important}
.rohit-text-purple,.rohit-hover-text-purple:hover{color:#9c27b0!important}
.rohit-text-deep-purple,.rohit-hover-text-deep-purple:hover{color:#673ab7!important}
.rohit-text-red,.rohit-hover-text-red:hover{color:#f44336!important}
.rohit-text-sand,.rohit-hover-text-sand:hover{color:#fdf5e6!important}
.rohit-text-teal,.rohit-hover-text-teal:hover{color:#009688!important}
.rohit-text-yellow,.rohit-hover-text-yellow:hover{color:#d2be0e!important}
.rohit-text-white,.rohit-hover-text-white:hover{color:#fff!important}
.rohit-text-black,.rohit-hover-text-black:hover{color:#000!important}
.rohit-text-grey,.rohit-hover-text-grey:hover,.rohit-text-gray,.rohit-hover-text-gray:hover{color:#757575!important}
.rohit-text-light-grey,.rohit-hover-text-light-grey:hover,.rohit-text-light-gray,.rohit-hover-text-light-gray:hover{color:#f1f1f1!important}
.rohit-text-dark-grey,.rohit-hover-text-dark-grey:hover,.rohit-text-dark-gray,.rohit-hover-text-dark-gray:hover{color:#3a3a3a!important}
.rohit-border-amber,.rohit-hover-border-amber:hover{border-color:#ffc107!important}
.rohit-border-aqua,.rohit-hover-border-aqua:hover{border-color:#00ffff!important}
.rohit-border-blue,.rohit-hover-border-blue:hover{border-color:#2196F3!important}
.rohit-border-light-blue,.rohit-hover-border-light-blue:hover{border-color:#87CEEB!important}
.rohit-border-brown,.rohit-hover-border-brown:hover{border-color:#795548!important}
.rohit-border-cyan,.rohit-hover-border-cyan:hover{border-color:#00bcd4!important}
.rohit-border-blue-grey,.rohit-hover-border-blue-grey:hover,.rohit-border-blue-gray,.rohit-hover-border-blue-gray:hover{border-color:#607d8b!important}
.rohit-border-green,.rohit-hover-border-green:hover{border-color:#4CAF50!important}
.rohit-border-light-green,.rohit-hover-border-light-green:hover{border-color:#8bc34a!important}
.rohit-border-indigo,.rohit-hover-border-indigo:hover{border-color:#3f51b5!important}
.rohit-border-khaki,.rohit-hover-border-khaki:hover{border-color:#f0e68c!important}
.rohit-border-lime,.rohit-hover-border-lime:hover{border-color:#cddc39!important}
.rohit-border-orange,.rohit-hover-border-orange:hover{border-color:#ff9800!important}
.rohit-border-deep-orange,.rohit-hover-border-deep-orange:hover{border-color:#ff5722!important}
.rohit-border-pink,.rohit-hover-border-pink:hover{border-color:#e91e63!important}
.rohit-border-purple,.rohit-hover-border-purple:hover{border-color:#9c27b0!important}
.rohit-border-deep-purple,.rohit-hover-border-deep-purple:hover{border-color:#673ab7!important}
.rohit-border-red,.rohit-hover-border-red:hover{border-color:#f44336!important}
.rohit-border-sand,.rohit-hover-border-sand:hover{border-color:#fdf5e6!important}
.rohit-border-teal,.rohit-hover-border-teal:hover{border-color:#009688!important}
.rohit-border-yellow,.rohit-hover-border-yellow:hover{border-color:#ffeb3b!important}
.rohit-border-white,.rohit-hover-border-white:hover{border-color:#fff!important}
.rohit-border-black,.rohit-hover-border-black:hover{border-color:#000!important}
.rohit-border-grey,.rohit-hover-border-grey:hover,.rohit-border-gray,.rohit-hover-border-gray:hover{border-color:#9e9e9e!important}
.rohit-border-light-grey,.rohit-hover-border-light-grey:hover,.rohit-border-light-gray,.rohit-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.rohit-border-dark-grey,.rohit-hover-border-dark-grey:hover,.rohit-border-dark-gray,.rohit-hover-border-dark-gray:hover{border-color:#616161!important}
.rohit-border-pale-red,.rohit-hover-border-pale-red:hover{border-color:#ffe7e7!important}.rohit-border-pale-green,.rohit-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.rohit-border-pale-yellow,.rohit-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.rohit-border-pale-blue,.rohit-hover-border-pale-blue:hover{border-color:#e7ffff!important}